<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hario.mycantnn_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launch"
        android:label="@string/app_name"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomActionBarTheme">
        <activity
            android:name=".MainActivity"

            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Host_login"
            android:label="HBH"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forgetpwd"
            android:label="Forget PassWord"
            android:parentActivityName=".Host_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login_Form"
            android:label="Welcome to the Login Page"
            android:parentActivityName=".Host_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".client"
            android:label="Select From Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Check.CheckOutActivity"
            android:label="CheckOut"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Modal.CartActivity"
            android:label="My Cart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile"
            android:label="My Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Modal.CustomerMyOrderActivity"
            android:label="My Order Status / History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BottomnaviActivity"
            android:label="@string/title_activity_bottomnavi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile_edit_page"
            android:label="Edit Your Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Check.Card.OrderActivity"
            android:label="Order"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Check.Card.finalstatus"
            android:label="Your Order Status"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Check.Card.payment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Modal.AddItemActivity"
            android:label="Add Items To Category"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Modal.ClientNotificationActivity"
            android:label="Notification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Modal.HostActivityMain"
            android:label="My Items"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Modal.GetOrderFromCustomerActivity"
            android:label="Order Received"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gitCheck"
            android:screenOrientation="portrait" />
        <activity android:name=".HostProfileDetails"
            android:label="Profile"
            android:screenOrientation="portrait" />
        <activity android:name=".HostProfileEdit"
            android:label="Edit Profile Details"
            android:screenOrientation="portrait" />
        <activity android:name=".client_login"
            android:label="Customer Login"
            android:screenOrientation="portrait" />
    </application>

</manifest>